[user]
	name = vstasenko
	email = vstasenko@example.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[diff]
	algorithm = histogram

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend --no-edit
